#personTable input[type="text"],
#personTable input[type="number"],
#personTable select {
    box-sizing: border-box;
}

#personTable td {
    padding: 20px; 
}

.selectpicker {
    width: 100%;
    margin-bottom: 5px;
    z-index: 1050;
}
.cajasdetext{
display: block;
padding: 0.375rem 0.75rem;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: var(--bs-body-color);
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
background-color: #fff;
background-clip: padding-box;
border: var(--bs-border-width) solid var(--bs-border-color);
border-radius: var(--bs-border-radius);
transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.bootstrap-select .dropdown-menu {
    z-index: 1050;
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; 
}

.table thead th {
    white-space: nowrap; 
}

.table td, 
.table th {
    text-align: center;
    vertical-align: middle;
}

@media (max-width: 768px) {
    .table-responsive {
        overflow-x: auto;
        overflow-y: hidden; 
    }

    .table td select {
        width: 100%;
    }

    .table td {
        white-space: normal; 
    }
}